.BuildControl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  cursor: pointer;
  outline: none;
  background-color: #fce467;
  border: none;
}

.BuildControl button:disabled {
  cursor: default;
  background-image: url('../../../../assets/Buttons/-disabled.png');
  background-size: 33px;
  background-repeat: no-repeat;
}

.BuildControl button:hover:disabled {
  cursor: not-allowed;
  background-image: url('../../../../assets/Buttons/-disabled.png');
  background-size: 33px;
  background-repeat: no-repeat;
}

.Label {
  padding: 10px;
  width: 80px;
}

.BuildControl .Less {
  height: 33px;
  width: 44px;
  background-image: url('../../../../assets/Buttons/-.png');
  background-size: 33px;
  background-repeat: no-repeat;
}

.BuildControl .More {
  height: 33px;
  width: 44px;
  background-image: url('../../../../assets/Buttons/+.png');
  background-size: 33px;
  background-repeat: no-repeat;
}

.BuildControl .Less:active {
  position: relative;
  top: 2px;
  left: 2px;
}

.BuildControl .More:active {
  position: relative;
  top: 2px;
  left: 2px;
}
