@font-face {
  font-family: 'receipt';
  src: url('../../../assets/Fonts/fake receipt.otf') format('openType');
}

.Modal {
  font-family: 'receipt';
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 5px solid black;
  color: black;
  text-shadow: none;
  box-shadow: 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 10%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.Modal p {
  font-size: 15px;
}

.Modal span {
  font-size: 18px;
}

.Modal h3 {
  text-align: center;
  padding-bottom: 30px;
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
    padding: 20px 50px;
  }
}
