.BreadBottom {
  height: 15%;
  width: 50%;
  background-image: url(../../../assets/burgerImages/bread-bottom.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
}

.BreadTop {
  height: 22.5%;
  width: 50%;
  background-image: url(../../../assets/burgerImages/bread-top.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.Meat {
  height: 10.5%;
  width: 50%;
  background-image: url(../../../assets/burgerImages/meat.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
}

.Cheese {
  height: 6%;
  width: 50%;
  background-image: url(../../../assets/burgerImages/cheese.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
}

.Salad {
  height: 6%;
  width: 50%;
  background-image: url(../../../assets/burgerImages/salad.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
}

.Bacon {
  height: 6%;
  width: 50%;
  background-image: url(../../../assets/burgerImages/bacon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
}
