.BreadBottom {
  height: 44px;
  width: 50%;
  background-image: url(../../../assets/burgerImages/bread-bottom.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
}

.BreadTop {
  height: 76px;
  width: 51%;
  background-image: url(../../../assets/burgerImages/bread-top.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.Meat {
  height: 35px;
  width: 53%;
  background-image: url(../../../assets/burgerImages/meat.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
}

.Cheese {
  height: 19px;
  width: 50%;
  background-image: url(../../../assets/burgerImages/cheese.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
}

.Salad {
  height: 19px;
  width: 50%;
  background-image: url(../../../assets/burgerImages/salad.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
}

.Bacon {
  height: 19px;
  width: 50%;
  background-image: url(../../../assets/burgerImages/bacon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
}
